---
import { getCollection, type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import { TbArrowLeft, TbX } from "react-icons/tb";

import Layout from "@/layouts/Layout.astro";
import FormattedDate from "@/components/FormattedDate.astro";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const canonicalHref = canonicalURL.toString().replace(/\/$/, "");

export async function getStaticPaths() {
  const images = await getCollection("gallery");
  return images.map((image) => ({
    params: { slug: image.slug },
    props: image,
  }));
}
type Props = CollectionEntry<"gallery">;

const post = Astro.props;
---

<Layout
  title={`${post.data.title} | Alexander Gabriel Ho`}
  description={`A detailed view of the artwork titled ${post.data.title} by Alexander Gabriel Ho.`}
  canonicalURL={canonicalHref}
  image={post.data.image}
>
  <main class="container">
    <a href="/gallery" class="link link--icon close-link" aria-label="Close">
      <TbArrowLeft /> Back to Gallery
    </a>

    <div class="content">
      <div class="content__image-container">
        <Image
          src={post.data.image}
          alt="hero"
          loading="eager"
          class="content__image"
          transition:name={post.data.title}
        />
      </div>

      <div class="content__info">
        <a href="/gallery" class="link--icon close-btn-lg" aria-label="Close">
          <TbX />
        </a>

        <h1 class="content__title">{post.data.title}</h1>
        <FormattedDate date={post.data.pubDate} />
      </div>
    </div>
  </main>

  <style>
    .container {
      height: 100%;
      padding-top: var(--spacing-xl);
      padding-bottom: var(--spacing-xl);
    }

    .content {
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: var(--spacing-md);
    }

    .content__image-container {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .content__image {
      width: 100%;
      height: auto;
    }

    .content__info {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
    }

    .content__title {
      margin-bottom: var(--spacing-md);
      text-align: center;
    }

    /* close button for small viewports */
    .close-link {
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;
      font-size: inherit;

      cursor: pointer;
      text-decoration: none;
    }

    /* close button for large viewports */
    .close-btn-lg {
      display: none;
      position: absolute;
      top: 1rem;
      right: 1rem;
      height: 1em;
      width: 1em;

      justify-content: center;
      align-items: center;
    }

    .close-btn-lg:hover {
      color: var(--color-danger);
    }

    @media (--lg-viewport) {
      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .content {
        flex-direction: row;
      }

      .content__info {
        justify-content: center;
      }

      .close-link {
        display: none;
      }

      .close-btn-lg {
        display: flex;
      }
    }
  </style>
</Layout>
