---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { TbFileFilled, TbRss } from "react-icons/tb";

import Layout from "@layouts/Layout.astro";
import FormattedDate from "@components/FormattedDate.astro";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const canonicalHref = canonicalURL.toString().replace(/\/$/, "");

const blogs = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Layout
  title="Blog - Alexander Gabriel Ho"
  description="Explore web development tips, coding tutorials, and personal insights from Alexander Gabriel Ho. Discover new articles on programming, technology trends, and the journey of a modern developer."
>
  <Fragment slot="head">
    <link rel="canonical" href={canonicalHref} />
  </Fragment>

  <div class="container">
    <h1 class="title">Blog</h1>

    <div class="blog-hero">
      <div class="blog-hero__item">
        <TbFileFilled />

        <p>
          {blogs.length} Blog post{blogs.length === 1 ? "" : "s"}
        </p>
      </div>

      <a href="/blog/rss.xml" class="blog-hero__item link link--no-underline">
        <TbRss />
         Subscribe to RSS feed</a
      >
    </div>

    <div class="blogs">
      {
        blogs.map((blog) => (
          <a href={`/blog/${blog.slug}`} class="blog">
            <Image
              src={blog.data.heroImage}
              alt="hero"
              loading="lazy"
              class="blog__hero"
              transition:name={blog.data.title}
            />
            <h2 class="blog__title">{blog.data.title}</h2>
            <FormattedDate date={blog.data.pubDate} />
          </a>
        ))
      }
    </div>
  </div>

  <style>
    .container {
      padding-top: 2.5em;
      padding-bottom: 2.5em;
    }

    .title {
      margin-bottom: 0.5em;
    }

    .blog-hero {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .blog-hero__item {
      display: flex;
      align-items: center;
      gap: 0.5em;
    }

    .blogs {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2.5rem;
    }

    .blog {
      color: var(--color-dark);
      text-decoration: none;
      transition: color 0.1s ease-in-out;
    }

    .blog:hover {
      color: var(--color-primary);
    }

    .blog__hero {
      margin-bottom: 0.25rem;
      aspect-ratio: 2 / 1;
      object-fit: cover;
      transition: box-shadow 0.1s ease-in-out;
    }

    .blog:hover .blog__hero {
      box-shadow: var(--blog-box-shadow);
    }

    .blog__title {
      font-size: var(--font-size-2xl);
      margin-bottom: 0.0625em;
    }

    @media (--lg-viewport) {
      .blogs {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  </style>
</Layout>
