---
import { Image } from 'astro:assets';
import { FaGithub, FaLinkedin, FaAt } from 'react-icons/fa6';
import styles from '../../styles/sections/Home.module.css';
import me from '../../assets/me.webp';
---

<section id="home" class={`section ${styles.hero}`}>
  <div class={`container container--section ${styles['hero__container']} `}>
    <div class={styles.hero__info}>
      <h1 class={styles.hero__title}>
        <span class={`${styles.hero__span} ${styles['hero__span--title']}`}>
          Hi, my name is
        </span>
        Alexander Gabriel Ho.
      </h1>

      <p class={styles.hero__description}>
        I&apos;m a
        <span class={`${styles.hero__span} ${styles['hero__span--highlight']}`}>
          Full Stack Web Developer
        </span>
        based in Manila, Philippines. 📍
      </p>

      <div class={styles.hero__links}>
        <a
          href="https://github.com/alexndrho"
          aria-label="Github"
          target="_blank"
          rel="noreferrer"
          class="link--icon"
        >
          <FaGithub />
        </a>

        <a
          href="https://www.linkedin.com/in/alexander-gabriel-ho/"
          aria-label="LinkedIn"
          target="_blank"
          rel="noreferrer"
          class="link--icon"
        >
          <FaLinkedin />
        </a>

        <a href="mailto: ho.alexander.g@gmail.com" aria-label="email" class="link--icon">
          <FaAt />
        </a>
      </div>
    </div>

    <div>
      <Image
        src={me}
        alt="Alexander Ho"
        draggable={false}
        class={styles['hero__profile-pic']}
        loading='eager'
      />
    </div>
  </div>
</section>
