---
import { Image } from "astro:assets";
import type { IconType } from "react-icons";
import { TbBrandGithub, TbExternalLink } from "react-icons/tb";

interface Props {
  title: string;
  description: string;
  image: ImageMetadata;
  techStack: {
    icon?: IconType;
    tech: string;
  }[];
  liveLink?: string;
  sourceLink?: string;
}

const { title, description, image, techStack, liveLink, sourceLink } =
  Astro.props;

// remove trailing slash from liveLink if it exists
const computedUrl = liveLink || "http://localhost:3000";
---

<article class="card">
  <div class="card__container-img">
    <div class="card__img-head">
      <div class="card__window-controls">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <div aria-label="website url" class="card__url-txt">
        {computedUrl}
      </div>
    </div>
    <Image src={image} alt="project-preview" class="card__img" />
  </div>

  <div class="card__info">
    <h3 class="card__title">{title}</h3>
    <p class="card__desc">{description}</p>

    <div class="card__tech-stacks">
      {
        techStack.map((item) => {
          const Icon = item.icon;
          return (
            <span class="card__tech-stack">
              {Icon && <Icon />}
              {item.tech}
            </span>
          );
        })
      }
    </div>

    <div class="card__links">
      {
        liveLink && (
          <a
            href={liveLink}
            target="_blank"
            rel="noreferrer"
            class="btn btn--primary btn--dashed-effect"
          >
            Live
            <TbExternalLink className="card__link__icon" />
          </a>
        )
      }

      {
        sourceLink && (
          <a
            href={sourceLink}
            target="_blank"
            rel="noreferrer"
            class="btn btn--primary btn--dashed-effect"
          >
            Source
            <TbBrandGithub className="card__link__icon" />
          </a>
        )
      }
    </div>
  </div>
</article>

<style>
  .card {
    margin-bottom: var(--spacing-lg);
    background-color: var(--color-light);
    padding: var(--spacing-lg);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-md);

    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
  }

  .card:last-child {
    margin-bottom: 0;
  }

  .card__container-img {
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-md);

    display: flex;
    flex-direction: column;

    overflow: hidden;
  }

  .card__img-head {
    width: 100%;
    padding: var(--spacing-xs) var(--spacing-sm);

    background-color: var(--color-light);

    display: flex;
    align-items: center;
  }

  .card__window-controls {
    margin-right: var(--spacing-md);

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: var(--spacing-xs);
  }

  .card__window-controls > * {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
  }

  .card__window-controls > *:nth-child(1) {
    background-color: var(--color-danger);
  }

  .card__window-controls > *:nth-child(2) {
    background-color: var(--color-warning);
  }

  .card__window-controls > *:nth-child(3) {
    background-color: var(--color-success);
  }

  .card__url-txt {
    font-size: var(--font-size-xs);
    width: 65%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    margin: 0 auto 0;
    padding: 0.25em 0.5em;

    border-radius: var(--border-radius-xs);
    border: 1px solid var(--color-light-darkest);
    background-color: var(--color-light-darker);
  }

  .card__img {
    width: 100%;
    height: unset;
    border-radius: unset;
  }

  .card__info {
    display: flex;
    flex-direction: column;
  }

  .card__title {
    margin-bottom: var(--spacing-sm);
    font-size: var(--font-size-2xl);
  }

  .card__title::after {
    content: "";
    display: block;
    height: 0.15em;
    width: 10rem;
    background-color: var(--color-primary);
    border-radius: var(--border-radius-md);
  }

  .card .card__desc {
    margin-bottom: var(--spacing-sm);
    color: var(--color-secondary);
    font-weight: 500;
  }

  .card__tech-stacks {
    margin-bottom: var(--spacing-sm);
    display: flex;
    flex-direction: row;
    gap: var(--spacing-xs);
    flex-wrap: wrap;
  }

  .card__tech-stack {
    padding: 0.125em 0.5em;
    border-radius: var(--border-radius-sm);
    background-color: var(--color-secondary);
    color: var(--color-light);
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);
    font-size: 0.75rem;
    font-weight: 500;

    display: flex;
    align-items: center;
    gap: 0.25em;
  }

  .card__links {
    font-size: var(--font-size-sm);
    display: flex;
    flex-direction: row;
    gap: var(--spacing-sm);
  }

  .card__link__icon {
    font-size: var(--font-size-xl);
  }

  @media (--lg-viewport) {
    .card {
      align-items: center;
    }

    .card:nth-child(odd) {
      flex-direction: row-reverse;
    }

    .card:nth-child(even) {
      flex-direction: row;
    }

    .card__container-img {
      min-width: 0;
      flex: 4;
    }

    .card__info {
      flex: 3;
    }
  }
</style>
