---
import Analytics from "@vercel/analytics/astro";
import BaseHead from "@components/BaseHead.astro";
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";

interface Props {
  title: string;
  description: string;
  canonicalURL?: string | undefined;
  image?: ImageMetadata | undefined;

  navBarFloat?: boolean | undefined;
}

const { title, description, canonicalURL, image, navBarFloat } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
      canonicalURL={canonicalURL}
      image={image}
    >
      <slot name="head" slot="head" />
    </BaseHead>
  </head>
  <body>
    <div class="main-container">
      <Navbar float={navBarFloat} />
      <div class="content-container">
        <slot />
      </div>
      <Footer />
    </div>

    <Analytics />

    <style>
      .main-container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        height: 100%;
      }

      .content-container {
        flex: 1;
      }
    </style>
  </body>
</html>
