---
import Analytics from "@vercel/analytics/astro";
import BaseHead from "@components/BaseHead.astro";
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";

import "normalize.css";
import "@styles/global.css";
import "@styles/common/btn.css";
import "@styles/common/container.css";
import "@styles/common/input.css";
import "@styles/common/link.css";
import "@styles/common/section.css";
import "@styles/common/text.css";

import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";

import poppins600Woff2 from "@fontsource/poppins/files/poppins-latin-600-normal.woff2?url";
import poppins700Woff2 from "@fontsource/poppins/files/poppins-latin-700-normal.woff2?url";

export interface Props {
  title: string;
  description: string;
  navBarFloat?: boolean | undefined;
}

const { title, description, navBarFloat } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description}>
      <link
        rel="preload"
        as="font"
        type="font/woff2"
        href={poppins600Woff2}
        crossorigin="anonymous"
      />
      <link
        rel="preload"
        as="font"
        type="font/woff2"
        href={poppins700Woff2}
        crossorigin="anonymous"
      />

      <slot name="head" slot="head" />
    </BaseHead>
  </head>
  <body>
    <div class="main-container">
      <Navbar float={navBarFloat} />
      <div class="content-container">
        <slot />
      </div>
      <Footer />
    </div>

    <Analytics />

    <style>
      .main-container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        height: 100%;
      }

      .content-container {
        flex: 1;
      }
    </style>
  </body>
</html>
